<h1>Places List</h1>
<h3>Add a new place:</h3>
<form action="/places" method="post">
  <label for="cityName">City Name Description</label>
  <input id="cityName" type="text" name="cityName">
  <label for="cityImage">City Image</label>
  <input id="cityImage" type="text" name="cityImage">
  <button type="submit">Add place</button>
</form>
